*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:white;
transition:0.4s;
padding:20px;
}

.container{
max-width:900px;
margin:auto;
}

h1{
text-align:center;
color:purple;
margin-bottom:10px;
}

.subtitle{
text-align:center;
margin-bottom:30px;
}

.theme-section,
.recorder-section,
.upload-section,
.reminder-section,
.ai-section{
background:#f7f7f7;
padding:20px;
margin-bottom:20px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
background:black;
color:purple;
padding:12px 20px;
border:none;
border-radius:10px;
cursor:pointer;
margin:5px;
font-size:16px;
font-weight:bold;
}

button:hover{
transform:scale(1.05);
}

input[type="text"]{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
border:1px solid #ccc;
border-radius:10px;
}

input[type="file"]{
margin-top:10px;
}

#chatBox{
height:250px;
overflow-y:auto;
background:white;
border:1px solid #ddd;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

.user{
text-align:right;
margin:10px;
color:black;
}

.bot{
text-align:left;
margin:10px;
color:purple;
font-weight:bold;
}

audio{
width:100%;
margin-top:15px;
}

@media(max-width:768px){

button{
width:100%;
margin-top:10px;
}

}